/*Create by: Lê Lam Hải
15 March 2016
Email: leelamhair@gmail.com
Phone: 0969128313*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{ 
	background-image: url("../img/bg_body.jpg");
	font-size: 15px;
	font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.wrap-head{
	padding-bottom: 30px;
}

.container{
    background-image: url("../img/bg.jpg");
    background-size: 100% auto;
    background-repeat: repeat-y;
    max-width: 990px;

}

/*header*/
#head_text #head_Family
{
	float: right;
	margin-right: 6px;
}

#head_Lurnea img
{
	max-width: 100%;
}

#head_bg{
	background-image: url("../img/header.jpg");
	background-size: 100% auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.sidebar-nav {
	padding: 100px 0 100px 60px;
	font-size: 13px;

}
.sidebar-nav li {
	padding-bottom: 10px;	
	margin-bottom: 15px;
	list-style-image: url("../img/ng.png");
	border-bottom: 1px solid rgba(255,255,255,0);
}

.sidebar-nav li:hover {
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

.sidebar-nav li a {
	color: #fff;
	text-decoration: none;
}


/*main*/

/*main left*/

#main_left{
	background-color: rgba(192,192,192,0.5);
	list-style-type: none;
	/*set width of ul*/
	margin: 0;
	padding: 15px 15px;
	padding-bottom: 10px;
	border-radius: 10px;
}

#main_left li{
	text-align: center;
	font-size: 11px;
	padding-bottom: 15px;
}

#main_left li img{
	width: 100%;
	padding-bottom: 5px;
	height: auto;
}

#main_left li .textwidget p{
	text-align: center;
	text-align: center;
	font-size: x-small;
	font-family: Arial, Helvetica, sans-serif;
}

/*main right*/

#main_container
{
	margin-bottom: 15px;
}

#content{
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	border-top-color: #dbd8d8;
	border-right-color: #dbd8d8;
	border-bottom-color: #dbd8d8;
	border-left-color: #dbd8d8;
	margin-bottom: 30px;
	padding: 15px 15px;
}
/*footer*/
.wrap-footer{
	background-color: #3b5409;
}

#footer{
	background-image: url("../img/bg_body.jpg");
}

#footer_menu
{
	padding-bottom: 40px;
}

#footer_menu .col-md-5 ul li a{
	color: black;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    text-decoration: none;
}

/*common*/
#h3{
	color: #057e00;
	font-size: 24px;
	font-weight: bold;
}

#h4{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ad3900;
    font-weight: bold;
}

#content{
	padding: 15px 15px 15px 60px;
}
