/*Create by: Lê Lam Hải
15 March 2016
Email: leelamhair@gmail.com
Phone: 0969128313*/

body{ 
	background-image: url("../img/bg_body.jpg");
}

#wrap{
    background-image: url("../img/bg.jpg");
}

/*header*/
#txthead{
	padding-top: 70px;
}

#bg_header{
	background-image: url("../img/header.jpg");
	height: 400px;
	width: 960px;

}
#left_menu{
	margin: 100px 30px 0 0;
}
#head_li {
	margin-top: 26px;
}

#head_li a{
	font-size: 18px;
}
/*main*/
#main{
	margin-top: 10px;
}
	/*left*/
	#bgleft{
		/*margin: 70px 15px;*/
		padding-top: 40px;
		/*background-color: rgba(192,192,192,0.3);*/
	}

	#img_left{
		padding-left: 20px;
		padding-top: 30px;
		padding-bottom: 40px;
	}
	#txt_left{
		text-align: center;
		font-size: x-small;
		font-family: Arial, Helvetica, sans-serif;
	}
	/*right*/
	#content{
		border-radius: 15px;
		margin-right: 18px;
		border-style: solid;
		border-width: 1px;
		border-top-color: #dbd8d8;
		border-right-color: #dbd8d8;
		border-bottom-color: #dbd8d8;
		border-left-color: #dbd8d8;
	}
	#content_li{
		font-family: Arial, Helvetica, sans-serif;
	    font-size: 16px;
	    color: #ad3900;
	    text-decoration: none;
	    font-weight: bold;

	}
	span {
		color: #000000;

	}
/*footer*/
footer{
	margin: 50px 3px 0 0;
	border-width: 2px;
	border-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

/*edit container*/
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.container
{
	padding-left: 0px;
    margin-right: auto;
}